body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:antiquewhite;
    color: #315659;
    text-align: center;
}

h1, h2, h3 {
    font-family: Garamond;
}

figure img {
    width: 20vw;
    min-width: 200px;
}

figure {
    text-align: center;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}
