body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:antiquewhite;
    color: #315659;
    text-align: center;
}

h1, h2, h3 {
    font-family: Garamond;
}

figure {
    text-align: center;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

.bullets {
    text-align: left;
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 20vw;
    height: auto;
    object-fit: contain;
}