
<nav>
    <a href="index.html">ITIS 3135 Homepage</a>
    <a href="https://webpages.charlotte.edu/bxiang1/" target="_blank">Charlotte Webpages</a>
    <a href="https://github.com/element-sauce/" target="_blank">GitHub</a>
    <a href="https://element-sauce.github.io/" target="_blank">GitHub.io</a>
    <a href="https://element-sauce.github.io/itis3135" target="_blank">itis3135.io</a>
    <a href="https://www.freecodecamp.org/bxiang1" target="_blank">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/bxiang1" target="_blank">Codecademy</a>
    <a href="https://www.linkedin.com/in/billxiang/" target="_blank">LinkedIn</a>
</nav>
<p>Designed by <a href="../xiangenterprises.com/index.html">Xiang Enterprises</a> &copy;2025, 
    <em>Certified in <a href="https://www.freecodecamp.org/certification/bxiang1/responsive-web-design">Responsive Web Design</a></em>
</p>
